In [1]:
import pymysql

In [3]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Oyinmiene1'
)
mycursor = mydb.cursor()

In [4]:
mycursor.execute('show databases')
for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('packwaystore',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [5]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Oyinmiene1',
    database = 'packwaystore'
)
mycursor = mydb.cursor()

In [10]:
mycursor.execute('show tables')
for x in mycursor:
    print(x)

('itemdetails',)

In [9]:
mycursor.execute('alter table itemrecords rename to itemdetails')

0

In [14]:
sql = 'insert into itemdetails(ITEMID,ITEMNAME,ITEMCATEGORIES,ITEMSUBCATEGORY,ITEMCONDITION,ITEMSUPPLYDATE,ITEMQUANTITY,ITEMPRICE) values(%s,%s,%s,%s,%s,%s,%s,%s)'

val = [(10,'LENOVO THINKPAD','ELECTRONICS','LAPTOP','FRAGILE','2021-12-28',30, 850000.00),
     (11,'W2 EARBUD','ELECTRONICS','ACCESSORIES','FRAGILE','2022-11-15',150,6500.00),
    (12,'PLAYSTORE','ELECTRONICS','GAMING','FRAGILE','2021-01-22',20,150000.00)]
mycursor.executemany(sql,val)
mydb.commit()

In [15]:
mycursor.execute('select * from itemdetails')
for x in mycursor:
    print(x)

(1, 'LG AIR CONDITION', 'ELECTRONICS', 'AIR CONDITION', 'FRAGILE', datetime.date(2021, 5, 26), 50, 200000.0)
(2, 'TECNO SPARK 9T', 'MOBILE PHONES', 'ANDROID', 'FRAGILE', datetime.date(2022, 3, 25), 45, 145000.0)
(3, 'MEN GUCCI SHOE', 'WEARS', 'MEN WEARS', 'NON-FRAGILE', datetime.date(2019, 8, 25), 20, 50000.0)
(4, 'IPHONE 14', 'MOBILE PHONES', 'IOS', 'FRAGILE', datetime.date(2022, 1, 15), 80, 1500000.0)
(5, 'HISENSE OVEN', 'ELECTRONICS', 'KITCHEN EQUIPMENT', 'FRAGILE', datetime.date(2021, 12, 22), 5, 300000.0)
(6, 'PLAYSTATION 5', 'ELECTRONICS', 'GAMING', 'FRAGILE', datetime.date(2021, 12, 25), 25, 600000.0)
(7, 'WESTER WIRELESS PAD', 'ELECTRONICS', 'GAMING', 'FRAGILE', datetime.date(2022, 3, 15), 100, 8000.25)
(8, 'SWEET MAMA 50KG RICE', 'FOOD AND OTHERS', 'RAW ITEMS', 'PERISHABLE', datetime.date(2021, 12, 15), 45, 50000.0)
(9, 'FLEXIBLE READING TABLE', 'WOODEN EQUIPMENT', 'TABLE', 'NON-FRAGILE', datetime.date(2020, 10, 28), 55, 45000.0)
(10, 'LENOVO THINKPAD', 'ELECTRONICS', 'LAPTOP', 'FRAGILE', datetime.date(2021, 12, 28), 30, 850000.0)
(11, 'W2 EARBUD', 'ELECTRONICS', 'ACCESSORIES', 'FRAGILE', datetime.date(2022, 11, 15), 150, 6500.0)
(12, 'PLAYSTORE', 'ELECTRONICS', 'GAMING', 'FRAGILE', datetime.date(2021, 1, 22), 20, 150000.0)