In [1]:
#Write a program to Reverse the given tuple
#(46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55)
number = (46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55)

print(number)

AttributeError: 'tuple' object has no attribute 'reverse'

In [4]:
#Write a program to Access value 58 from the above tuple
number = (46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55)
for  i in number:
    if i == 58:
        print(i)
#print(number[9])

58

In [8]:
#Write a program to Counts the number of occurrences of item 55 from the above tuple
number = (46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55)

count = 0
for i in number:
    if i == 55:
        count = count + 1

print(count)

5

In [11]:
#Write a program to return values 49 and 57 from the above tuple.
number = (46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55)

rl = ('e','e','g')

def return_value(new_list):
    return 49, 57

return_value(rl)

(49, 57)

In [12]:
#Write a program to add item 69 after 49 in the following Python List
number = [46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]

number.insert(7, 69)

print(number)

[46, 53, 45, 48, 55, 45, 49, 69, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]

In [17]:
#Write a program to extend [89,85,36,95,45,78] to the above list
number = [46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]

number += [89,85,36,95,45,78]

print(number)

[46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55, 89, 85, 36, 95, 45, 78]

In [21]:
#Write a Python program to create a new dictionary having 10 football club names as
# the key with each key holding the following values(location,managersname,clubcaptain,networth,clubformation)

q = {'Manchester United': ('Manchester','ETH','Maguire','30 billion','4-2-3-1'),
    'Chelsea': ('London','Graham Potter','Azpiliqueta', '20 billion', '4-3-3'),
    'Liverpool': ('Liverpool','klopp','Mo Salah', '50 billion', '4-3-3'),
    'Man City': ('Manchester','Pep Guardiola','kompany', '90 billion', '4-3-3'),
    'Arsenal': ('London','Arteta','Saka', '10 billion', '4-4-2'),
    'Barcelona': ('Barcelona','Xavi','Busquets', '110 billion', '4-3-3'),
    'Real Madrid': ('Madrid','Carlos Ancelotti','Toni Kroos', '700 billion', '4-3-2-1'),
    'Tottenham': ('London','Anthonio Conte','Lo Celso', '15 billion', '4-3-3'),
    'Athletico Madrid': ('Madrid','Diego Simeone','Koke', '25 billion', '4-3-3'),
    'Juventus': ('Turin','Andreas Pirlo','Bonucci', '65 billion', '5-3-2')}
print(q)

{'Manchester United': ('Manchester', 'ETH', 'Maguire', '30 billion', '4-2-3-1'), 'Chelsea': ('London', 'Graham Potter', 'Azpiliqueta', '20 billion', '4-3-3'), 'Liverpool': ('Liverpool', 'klopp', 'Mo Salah', '50 billion', '4-3-3'), 'Man City': ('Manchester', 'Pep Guardiola', 'kompany', '90 billion', '4-3-3'), 'Arsenal': ('London', 'Arteta', 'Saka', '10 billion', '4-4-2'), 'Barcelona': ('Barcelona', 'Xavi', 'Busquets', '110 billion', '4-3-3'), 'Real Madrid': ('Madrid', 'Carlos Ancelotti', 'Toni Kroos', '700 billion', '4-3-2-1'), 'Tottenham': ('London', 'Anthonio Conte', 'Lo Celso', '15 billion', '4-3-3'), 'Athletico Madrid': ('Madrid', 'Diego Simeone', 'Koke', '25 billion', '4-3-3'), 'Juventus': ('Turin', 'Andreas Pirlo', 'Bonucci', '65 billion', '5-3-2')}